{% extends 'base.html.twig' %}

{% block title %}Sf5 -Liste des produits-{% endblock %}

{% block body %}
    <h1 class="text-center text-info">GESTION DES PRODUITS</h1>
    <a href="{{ path('ajouter') }}" class="btn btn-outline-danger">Ajouter un produit</a>
    <div class="alert alert-warning mt-3">20% de reduction sur le produit : {{ dernierProduit.nomProduit }}</div>
    <div class="row">


        {% for produit in listeProduits %}
            <div class="col-md-4 col-sm-12 mt-3">
                <div class="card">
                    <img src="img{{ asset(produit.photoProduit) }}" class="card-img-top" alt="{{ produit.nomProduit }}" title="{{ produit.nomProduit }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nomProduit }}</h5>

                        <p class="card-text"><b>PRIX : {{ produit.prixProduit }} €</b></p>

                        <a href="#" class="btn btn-outline-success">Ajouter au panier</a>

                        <!--details-->
                        <a href="{{ path('details_produit',{'slug': produit.nomProduit ,'id': produit.id}) }}" class="btn btn-outline-warning">Détails</a>

                        {% if app.user %}
                        <!-- Editer  -->
                        <a href="{{ path('editer',{'id': produit.id}) }}" class="btn btn-outline-info">Editer</a>
                        <!-- Supprimer -->
                        <a href="{{ path('supprimer',{'id': produit.id}) }}" class="btn btn-outline-danger mt-3">Supprimer</a>
                        {% endif %}


                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
